.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0000;
}

.form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.title {
    color: BLue;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
  padding: 0.7rem;
  background: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
    background-color: rgb(10, 10, 83);
  }
