.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: #1e1e2f;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.paragraph {
  color: rgb(173, 173, 192);
  font-size: 1rem;
  line-height: 1.5;
  max-width: 600px;
}
