.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: wite;
  text-align: center;
}
.paragraph {
  color: rgb(161, 161, 221);
  text-align: center;
  font-size: 1rem;
}