.loadingText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   
  width: 100vw;  
  color: red;
  background-color: #0f172a;
  font-size: 1.5rem;
  font-weight: bold;
}

.userList {
  padding: 1rem;
}

.userList ul {
  list-style: none;
  padding: 0;
}

.userList li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}