.error {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  color: red;
}

.loadingText {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  color: rgb(218, 205, 205);
}